<!doctype html>
<html>
<head>
    <title>App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="main_logged_styles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="main_logged_script.js"> </script>
</head>
<body>

  <div class="stuck-header-index">
      <form class="submit_form" method="post" action="/newpost">
        <input name="submit" class="submit_button" type="submit" value="+">
      </form>

      <div class="login-signup-index">
        <a href="/profile" class="btn btn-default" <span class="fa fa-user"></span> <%= first_name + " " + last_name %> </a>
      </div>
  </div>

  <div class="main-content">
    <% for (let value of Object.values( sports_data) ) { %>
        <div style ="width: 700px; height: 200px; margin:auto; position:relative; background-color: lightgray;"
        onmouseover="this.style.background='gray'"
        onmouseout="this.style.background='lightgray';"
        onclick="getData( '<%= value["_id"] %>' )">
          <h1> <%= value["header"] %> </h1>
          <h4> <%= value["shortdescription"] %> </h4>
          <!-- <p id=<%= value["_id"] %>;  style="display:none;">  <%= value["_id"] %>  </p> -->
        </div>
    <% } %>
  </div>


  <div class="overlay">
    <div class="overlay-white">
      <div class="description-header">
        <h5 class="description-header-name"> Men's Game V.S. Odowd </h5>
        <button class="description-button" onclick="closeOverlay()"> X Close </button>

        <form  method="post" action="/newImage">
          <input name="submit" class="description-button" type="submit" value="+">
        </form>

        <!-- <button class="description-button" onclick=""> Add Photo </button> -->
      </div>

      <div class="overlay-content">
        <!-- <% for (var i= 0; i < 40; i++) { %>
          <div class="card">
            <img src="img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        <% } %> -->
      </div>


    </div>
  </div>
</div>

</body>
</html>
